* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif "Nunito",
    sans-serif;
    background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#05e8f9),
    to(#0549f5)
  );
  height: 1000px;
}
.cities,
.cities1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  padding: 10px;
  background-color: rgb(248, 208, 7);
}
.input {
  text-align: center;
  margin: 30px auto;
}
.input [type="submit"] {
  display:none;
  height: 45px;
  padding: 10px 30px;
  background: white;
  border: none;
  border-radius: 1px;
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif "Nunito",
    sans-serif;
  font-weight: bold;
  font-size: 20px;
  outline: none;
}

.input [type="text"] {
  width: 450px;
  height: 45px;
  padding: 5px 10px;
  background: white;
  border: none;
  border-radius: 1px;
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif "Nunito",
    sans-serif;
  font-weight: bold;
  font-size: 20px;
  outline: none;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 5px solid tomato;
  background: rgb(247, 140, 166);
  height: 60vph;
  border-radius: 2px;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: auto;
}
.icon {
    background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#05e8f9),
    to(#0549f5)
  );
  width: 40%;
  height: 100px;
}
.close {
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}
.card h1 {
  padding: 1px 0px 2px 0px;
  text-align: center;
}
.card p {
  text-align: center;
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
}
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner::after {
  content:"";
  width: 80px;
  height: 80px;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: white;
  border-right-color: white;
  border-left-color: red;
  border-bottom-color: red;
  border-radius: 100%;
  will-change: transform;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 400px) {
  .icon {
    background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#05e8f9),
    to(#0549f5)
  );
    width: 50%;
    height: 100px;
  }
}
